.article-thumbnail-box {
  flex: 1 0 35%;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  max-width: 45rem;
}

.thumbnail-img {
  cursor: pointer;
  min-width: 10rem;
  min-height: 10rem;
}
